

.entity-hierarchy,
.entity-hierarchy-node {
  display: flex;
  flex-direction: row;
  align-items: center;

  font-size: var(--text-fs-sm);
  line-height: var(--text-lh-sm);

  padding-bottom: var(--p-0);
}

.entity-hierarchy span {
  color: var(--tertiary-text);
}
