.icon-obj {
  stroke: currentColor;
  stroke-width: 2;
  fill: none;
  overflow: visible;
  z-index: 1;

  /* Preempts SVG jitter bug in Safari */
  -webkit-backface-visibility: hidden;
  -webkit-perspective: 1000;
  -webkit-font-smoothing: antialiased;
  -webkit-transform-style: preserve-3d;
  -webkit-transform: translateZ(0); 
}

.codicons-iconset {
  stroke-width: 0.25;
}