
:root {
  --steel-200: #e7e9ee;
  --steel-300: #dde0e6;
  --steel-400: #aaaeb5;
  --steel-500: #7a7e86;
  --steel-600: #4d515a;
  --steel-650: #383c46;
  --steel-675: #2e323c;
  --steel-700: #242832;
  --steel-750: #1D2028;
  --steel-800: #1a1d23;
  --steel-850: #16171c;
  --steel-900: #101115;
  --steel-950: #0a0c0e;

  --grey-200: rgb(237, 237, 237);
  
  --dark-blue: #00346E;
  --less-dark-blue: #094a94;
  --green: rgb(66, 185, 131);
  --light-green: #A2D8B4;
  --blue: rgb(103, 154, 209);
  --purple: rgb(188, 137, 189);
  --yellow: #b9a542;
  --red: #B5494B;
  --orange: #c38521;;
  --bright-green: #A2D8B4;
  --bright-blue: rgb(86, 168, 248);
  --bright-red: #EF8784;
  --cyan: #00AABB;

  --bg-pane: hsl(210, 12%, 16%);

  --bg-color-alt: hsl(210, 17%, 10%);
  --bg-color:     hsl(210, 11%, 12%);

  --bg-cell: hsl(210, 12%, 16%);
  --bg-cell-alt: hsl(210, 12%, 15%);
  --bg-cell-hover: hsl(210, 12%, 20%);

  --bg-content:       hsl(214, 10%, 13%);
  --bg-content-alt:   hsl(214, 10%, 12%);
  --bg-content-hover: hsl(210, 12%, 20%);
  --bg-content-select: hsl(210, 12%, 10%);

  --bg-button-alt: hsl(210, 12%, 20%);

  --bg-auto-complete: rgb(25, 28, 31, 1.0);
  --bg-error:     var(--red);
  --bg-ok:        var(--green);
  --border:       rgb(57, 57, 62);
  --text-color:   rgb(175, 175, 175);
  --highlight-bg: var(--blue);
  --highlight-text: white;
  --dark-text: hsl(210, 17%, 5%);

  --primary-color: var(--green);
  --secondary-color: var(--blue);
  --tertiary-color: var(--yellow);

  --primary-text: #d2dbde;
  --secondary-text: #859399;

  --tab-separator-color: rgba(255,255,255,0.07);

  --border-radius-large: 8px;
  --border-radius-small: 4px;
  --border-radius-medium: 6px;

  --gap: 0.4rem;
  --header-height: 2.0rem;
  --footer-height: 1.5rem;
  --footprint: 5.0rem; /* var(--header-height) + var(--footer-height) + 3 * var(--gap); */

  --animation-duration: .12s;

  --table-padding: 8px;

  --module-color: #FFE100;
  --component-color: #4981B5;
  --target-color: var(--cyan);
  --query-color: #DDE0E6;
  --prefab-color: var(--cyan);
}
