:root {
  --handle-thickness: 1px;
  --handle-grabbox-thickness: 3px;
}

.split-pane-container {
  width: 100%;
  height: calc(100% - 41px);

  display: flex;
  flex-direction: row;
}

.split-pane {
  height: 100%;
}

.panel-container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.panel {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.fixed {
  flex: auto 0 0;
}

.fluid  {
  flex: auto 0 0;
}

.handle {
}

.handle-horizontal {
  height: var(--handle-thickness);
}

.handle-vertical {
  width: var(--handle-thickness);
}

.handle-vertical .handle-grab-box {
  border-radius: 3px;
  position: relative;
  z-index: 100;
  left: -1px;
  width: 3px;
  height: 100%;
  background-color: #4F95FF;
  opacity: 0;
  transition: all 0.2s ease-in-out;
}

.handle-vertical:not(.locked) .handle-grab-box:hover {
  /* When resize handle is locked, then do not show on hover */
  cursor: col-resize;
  opacity: 0.5;
}

.handle-vertical:not(.locked) .handle-grab-box:active {
  /* When resize handle is locked, then do not show when active */
  cursor: col-resize;
  opacity: 1.0;
  /* Enlargen handle by 2px, reposition */
  left: -2px;
  width: 5px;
}

.handle-horizontal .handle-grab-box {
  border-radius: 3px;
  position: relative;
  z-index: 100;
  top: -1px;
  height: 3px;
  width: 100%;
  background-color: #4F95FF;
  opacity: 0;
  transition: all 0.2s ease-in-out;
}

.handle-horizontal:not(.locked) .handle-grab-box:hover {
  /* When resize handle is locked, then do not show on hover */
  cursor: row-resize;
  opacity: 0.5;
}

.handle-horizontal:not(.locked) .handle-grab-box:active {
  /* When resize handle is locked, then do not show when active */
  cursor: row-resize;
  opacity: 1.0;
  /* Enlargen handle by 2px, reposition */
  top: -2px;
  height: 5px;
}



.handle:active,
.handle:focus,
.panel-handle:active,
.panel-handle:focus {
  opacity: 1;
}
