:root {
  --handle-thickness: 1px;
  --handle-grabbox-thickness: 3px;
}

.split-pane-container {
  width: 100%;
  height: calc(100% - 41px);

  display: flex;
  flex-direction: row;
}

.split-pane {
  height: 100%;
}

.panel-container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.panel {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.fixed {
  flex: auto 0 0;
}

.fluid  {
  flex: auto 0 0;
}

.handle {
}

.handle-horizontal {
  height: var(--handle-thickness);
}

.handle-vertical {
  width: var(--handle-thickness);
}

.handle-vertical .handle-grab-box {
  border-radius: 3px;
  position: relative;
  z-index: 100;
  left: -2px;
  height: 100%;
  width: 5px;
  background-color: #4F95FF;
  opacity: 0;
  transition: opacity 0.2s ease-in-out;
}

.handle-vertical .handle-grab-box:hover {
  cursor: col-resize;
  opacity: 0.7;
}

.handle-horizontal .handle-grab-box {
  border-radius: 3px;
  position: relative;
  z-index: 100;
  top: -2px;
  width: 100%;
  height: 5px;
  background-color: #4F95FF;
  opacity: 0;
  transition: opacity 0.2s ease-in-out;
}

.handle-horizontal .handle-grab-box:hover {
  cursor: row-resize;
  opacity: 0.7;
}


.handle:active,
.handle:focus,
.panel-handle:active,
.panel-handle:focus {
  opacity: 1;
}
