/* HTML element styling */

body {
  font-family: Inter, Helvetica, sans-serif;
  font-feature-settings: "liga" 0, "calt" 0;
  font-size: 14px;
  background-color: #000;
  color: #DDE0E6;
  margin: 0px;
}

input {
  -webkit-appearance: none; 
  -moz-appearance: none;
  outline: none;
  padding: 5px;
  padding-left: 7px;
  color: inherit;
  font-size: inherit;
  font-family: inherit;
}

textarea {
  -webkit-appearance: none; 
  -moz-appearance: none;
  outline: none;
  line-height: 18px;
  font-weight: 400;
}

pre, pre.span {
  font-size: inherit;
}

span {
  display: inline-flex;
}

pre span {
  display: inline;
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}

.clickable {
  cursor: pointer;
}

span.icon {
  display: inline-flex;
  position: relative;
  margin-left: 3px;
  margin-right: 3px;
}

span.icon > * {
  position: absolute;
  top: calc(50% - 9px);
  width: 18px;
  height: 18px;
  aspect-ratio: 1;
  opacity: 0.5;
}

span.icon::after {
  content: '';
  width: 18px;
}

span.icon div {
  transform: rotate(0deg);
  transition: 0.1s transform ease-out, 0.1s opacity ease-out;
}

span.icon-rotate div {
  transform: rotate(90deg);
}

span.icon-hide div {
  opacity: 0;
}

div.follow {
  background-image: url('../img/follow.png');
  background-size: contain;
  background-position: center center;
  padding-top: 2.5px;
  width: 12px !important;
  height: 12px !important;
  transform: rotate(315deg) !important;
}

div.connecting {
  background-image: url('../img/connecting.png');
  background-size: contain;
  background-position: center center;
  opacity: 0.9 !important;
}

div.connected {
  background-image: url('../img/connected.png');
  background-size: contain;
  background-position: center center;
  opacity: 0.9 !important;
}

div.error {
  background-image: url('../img/error.png');
  background-size: contain;
  background-position: center center;
  opacity: 0.9 !important;
}

div.search {
  background-image: url('../img/search.png');
  background-size: contain;
  background-position: center center;
}

div.nav {
  background-image: url('../img/nav-right.png');
  background-size: contain;
  background-position: center center;
}

div.close {
  background-image: url('../img/close.png');
  background-size: contain;
  background-position: center center;
}

/* High level layout */

div.top-box {
  position: absolute;
  top: 0px;
  width: 100%;
  height: 36px;
  background-color: #232833;
  border-color: rgba(0, 0, 0, 0.5);
  border-style: solid;
  border-width: 0px;
  border-bottom-width: 1px;
  padding-bottom: 4px;
}

div.top-content {
  display: flex;
  width: 100%;
  height: 100%;
  border-color: rgba(0, 0, 0, 0.5);
  border-style: solid;
  border-width: 0px;
  border-bottom-width: 1px;
  align-items: center;
  justify-content: center;
}

div.tree-box {
  position: absolute;
  top: 41px;
  left: 0px;
  width: 194px;
  height: calc(100vh - 41px);
  border-style: solid;
  border-width: 0px;
  border-left-color: #232833;
  border-left-width: 5px;
  border-right-color: #000;
  border-right-width: 1px;
}

div.app-box {
  display: flex;
  position: relative;
  top: 41px;
  left: 200px;
  width: calc(100% - 200px);
  height: calc(100vh - 141px);
}

div.left-column {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  height: 100%;
  overflow-x: auto;
}

div.right-column {
  display: flex;
  flex-direction: column;
  height: 100%;
  border-style: solid;
  border-width: 0px;
  border-left-width: 1px;
  border-color: #000;
  overflow-x: auto;
}

div.query-box {
  width: calc(100% - 30px);
}

div.terminal-box {
  background-color: #232833;
  border-color: #000;
  border-style: solid;
  border-width: 0px;
  border-top-width: 1px;

  position: absolute;
  width: calc(100% - 200px);
  height: 100px;
  left: 200px;
  bottom: 0px;
}

div.app-title {
  font-weight: 500;
}

span.app-title-detail {
  background-color: #250201;
  border-style: solid;
  border-width: 1px;
  border-radius: 10px;
  border-color: #EF8784;
  color: #EF8784;
  font-size: 12px;

  padding-left: 5px;
  padding-right: 5px;  

  font-weight: 300;
  margin-left: 5px;
  transition: 0.3s margin-left, 0.3s opacity;
}

span.app-title-detail-hide {
  width: 0px;
  overflow: hidden;
  margin-left: 0px;
  padding: 0px;
  visibility: hidden;
}

div.play-button-box {
  position: absolute;
  left: 10px;
  top: 8px;
  width: 26px;
  height: 26px;
  cursor: pointer;
}

div.share-button-box {
  position: absolute;
  right: 0px;
  top: 5px;
  width: 35px;
  cursor: pointer;
}

div.play-button-box img {
  height: 22px;
}

div.share-button-box img {
  height: 25px;
}

div.entity-box {
  position: relative;
}

div.result-box {
  position: relative;
}

/* UI elements */

div.entity-tree {
  background-color: #13151A;
  width: 100%;
  height: 100%;
  overflow: auto;
}

text.entity-tree-text {
  fill: #DDE0E6;
  cursor: pointer;
}

text.entity-tree-text:hover {
  fill: #fff;
}

text.entity-tree-text-select {
  fill: #fff;
}

image.entity-tree-icon {
  cursor: pointer;
  width: 15px;
  height: 15px;
  opacity: 0.7;
}

image.entity-tree-icon:hover {
  opacity: 1.0;
}

rect.entity-tree-select {
  fill: #13151A;
  border-radius: 2px;
  cursor: pointer;
}

rect.entity-tree-selected {
  fill: #333A4B;
}

div.inspector-name {
  display: flex;
  flex-direction: row;
  align-items: center;
  cursor: default;
}

div.inspector-icon {
  display: flex;
  width: 15px;
}

div.inspector-components {
  display: flex;
  flex-direction: column;
}

div.inspector-components-with-header {
  margin-bottom: 10px;
}

div.inspector-components-with-header:last-child {
  margin-bottom: 0px;
}

div.inspector-components-content {
  display: flex;
  flex-direction: column;
}

div.inspector-components-nested {
  margin-left: 10px;
}

div.entity-component {
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
}

div.entity-component:last-child {
  margin-bottom: 0px;
}

div.inspector-component-name {
  display: flex;
}

div.entity-component-name {
  color: #DDE0E6;
  font-weight: 500;
}

div.entity-component-overridden {
  display: flex;
  color: #4F5565;
  text-decoration: line-through;
  font-weight: 400;
}

span.inspector-header {
  position: relative;
  font-style: italic;
  color: #47B576;
  font-weight: 500;
  white-space: nowrap;
}

span.inspector-header:first-child {
  margin-top: 10px;
}

div.inspector-value {
  display: flex;
  flex-wrap: wrap;
  margin-left: 26px;
  margin-bottom: 10px;
}

div.inspector-value-vertical {
  flex-direction: column;
  margin-left: 10px;
}

div.inspector-value-list {
  display: inline-flex;
}

div.entity-property-value {
  display: flex;
  margin-right: 1px;
}

div.entity-property {
  display: flex;
  margin-left: 1px;
  margin-bottom: 1px; /* for when row collapses */
}

span.entity-property-key, span.entity-property-value {
  padding: 6px;
  border-radius: 6px;
}

span.entity-property-key {
  background-color: #333A4B;
  cursor: default;
  border-top-right-radius: 0px !important;
  border-bottom-right-radius: 0px !important;
}

span.entity-property-value {
  background-color: #4F5565;
}

span.entity-property-value-after-key {
  border-top-left-radius: 0px !important;
  border-bottom-left-radius: 0px !important;
}

div.entity-property-object {
  display: flex;
}

div.entity-component-expand-nodata {
  width: 20px;
  text-align: center;
  color: #b4b4b4;
}

div.entity-component-expand-nodata span {
  text-align: center;
}

span.inspector-parent {
  font-size: 12px;
  color: #47B576;
  margin-left: 5px;
}

div.inspector-doc {
  display: flex;
  margin-left: 15px;
  margin-bottom: 15px;
}

span.inspector-brief {
  display: flex;
  color: #BDC1CC;
  margin-right: 5px;
}

span.inspector-link a { 
  color: #47B576;
  text-decoration: none;
  cursor: pointer;
}

span.entity-reference span {
  white-space: nowrap;
}

div.url-modal {
  position: absolute;
  top: 0px;
  z-index: 99;
  background-color: rgb(0, 0, 0, 0.6);
  width: 100%;
  height: 100%;
}

div.url-modal-hidden {
  display: none;
}

div.url-modal-content {
  position: relative;
  top: calc(20% - 64px);
  margin: 0 auto;
  width: 700px;
  overflow: auto;
  overflow-wrap: anywhere;
  background-color: #232833;
  border-color: #232833;
  border-style: solid;
  border-width: 1px;
  border-radius: 3px;
  padding: 20px;
}

div.url-modal-url-container {
  background-color: #13151A;
  border-color: #000;
  border-width: 1px;
  border-style: solid;
  border-radius: 3px;
  padding: 20px;
  height: 200px;
}

div.url-modal-url {
  overflow-y: auto;
  height: 100%;
}

div.url-modal-content a {
  color: #DDE0E6;
}

div.url-modal h1 {
  font-size: 16px;
  margin: 0px;
  margin-bottom: 15px;
}

div.editor {
  padding-left: 10px;
  padding-bottom: 3px;
}

div.editor-detail {
  height: 200px;
}

div.editor-textarea {
  position: relative;
  min-width: 400px;
  height: 100%;
  border: none;
  resize: none;
  color: #DDE0E6;
  font-family: Menlo, Monaco, "Courier New", monospace;
  font-size: 13px;
  letter-spacing: 0.0px;
}

button.editor-button-run {
  position: absolute;
  top: 7px;
  right: 7px;
  height: 35px;
  padding-left: 30px;
  padding-right: 30px;
  background-color: #47B576;
  color: #000;
  border: none;
  cursor: pointer;
}

div.ecs-query {
  display: flex;
  
  padding-top: 2px;
  padding-left: 5px;

  font-family: Menlo, Monaco, "Courier New", monospace;
  font-size: 13px;
  letter-spacing: 0.0px;

  transition: background-color 0.2s;
  border-radius: 2px;
  border-width: 1px;
  border-style: solid;
  border-color: rgb(0, 0, 0, 0);

  color: #DDE0E6;
}

div.ecs-query div.ldt {
  min-width: 36px;
}

div.ecs-query-empty div.ldt {
  min-width: 0px;
}

div.query-default-text {
  font-family: Inter, Helvetica, sans-serif;
  font-weight: 400;
  color: #DDE0E6;
  opacity: 0.5;
  margin-left: -7px;
  cursor: pointer;
}

div.ecs-query:hover {
  background-color: #343B4C;
}

div.ecs-query pre, div.editor pre {
  min-height: 16px;
}

div.ecs-query-ok {
  background-color: #13151A !important;
  transition: background-color 0s;
}

div.ecs-query-error {
  border-color: #B5494B !important;
  background-color: #13151A !important;
}

div.error {
  position: relative;
  text-align: center;
  width: 100%;
}

div.error span {
  color: #B5494B;
}

div.terminal {
  position: relative;
  top: 5px;
  height: calc(100% - 5px);
  font-family: Menlo, Monaco, "Courier New", monospace;
  font-size: 12px;
}

div.terminal-content {
  position: relative;
  background-color: #101115;
  width: 100%;
  height: calc(100% - 1px);
  overflow-x: auto;
  overflow-y: auto;
  white-space: nowrap;

  border-color: #000;
  border-style: solid;
  border-width: 0px;
  border-top-width: 1px;
}

div.terminal-log {
  height: 22px;
  border-style: solid;
  border-width: 0px;
  border-bottom-width: 1px;
}

span.terminal-msg {
  position: relative;
  top: 5px;
  left: 5px;
}

span.terminal-icon img {
  position: relative;
  height: 20px;
  top: 1px;
}

div.terminal-command {
  border-color: #232833;
}

span.terminal-command {
  color: #4981B5;
}

span.terminal-command {
  position: relative;
  top: -5px;
  left: -5px;
}

div.terminal-ok {
  background-color: #02210A;
  border-color: #0B4C1C;
}

span.terminal-ok {
  color: #47B576;
}

div.terminal-error {
  background-color: #250201;
  border-color: #540C06;
}

span.terminal-error {
  color: #EF8784;
}

div.terminal-info {
  border-color: #232833;
}

div.info {
  position: relative;
  top: -30px;
  margin: auto;
  padding: 15px;
  background-color: #000;
  max-width: 80%;  
}

div.info span {
  color: #DDE0E6;
}

span.prompt {
  color: #47B576 !important;
}

span.ecs-entity {
  color: #47B576; 
}

span.ecs-var {
  color: #4981B5; 
}

span.ecs-set {
  color: #7D67B5; 
}

div.query-result-yes {
  color: #47B576;
}

div.query-result-no {
  color: #B5494B; 
}

div.query-results {
  position: relative;
}

span.query-result-count {
  font-weight: 300;
  opacity: 0.8;
}

div.invalid * {
  color: rgb(189, 193, 204, 0.3) !important;
}

div.invalid text {
  fill: #4F5565 !important;
}

div.invalid rect, div.invalid img, div.invalid image {
  opacity: 0.0 !important;
}

div.ecs-filter {
  margin: auto;
  padding: 10px;
  background-color: #000;
  margin: 10px;
}

div.content-container-wrapper {
  border-color: #232833;
  border-style: solid;
  border-width: 0px;
  border-bottom-width: 4px;
  margin-bottom: 1px;
}

div.content-container-wrapper-overflow {
  display: flex;
  overflow: hidden;
  min-height: 31px;
}

div.content-container-wrapper-overflow div.content-container {
  display: flex;
  width: 100%;
}

div.content-container-wrapper-overflow div.content-container div.detail-toggle {
  width: 100%;
}

div.content-container > div.detail-toggle > div.detail-toggle-summary {
  background-color: #232833;
}

div.content-container > div.detail-toggle > div.detail-toggle-detail {
  background-color: #101115;
  border-style: solid;
  border-width: 0px;
  border-top-width: 1px;
  border-top-color: #000;
}

span.content-summary {
  font-weight: 600;
  font-size: 13px;
  color: #BDC1CC;
  width: 100%;
  height: 30px;
  align-items: center;
}

div.content-detail {
  display: flex;
  flex-direction: column;
  overflow-x: auto;
  max-width: 100%;
}

div.content-detail-padding {
  padding-top: 5px;
  padding-bottom: 10px;
  padding-left: 10px;
}

div.content-detail ecs-value {
  max-width: 150px;
  display: block;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

table {
  border-collapse: collapse;
  width: 100%;
  text-align: left;
  font-variant: inherit;
  font-size: inherit;
}

table th:first-child {
  text-align: left;
}

table.last_align_right th:last-child {
  text-align: right;
}

table.last_align_right td:last-child {
  text-align: right;
}

table th {
  padding: 0px;
  font-weight: 500;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
  color: #47B576;
}

th.query-results-header-term {
  color: #FFE100;
}

th.query-results-squeeze {
  width: 100%;
  padding: 0px;
  margin: 0px;
  min-width: 0px;
}

td.query-results-squeeze {
  width: 100%;
  padding: 0px;
  margin: 0px;
  min-width: 0px;
}

table td {
  padding-top: 8px;
  padding-bottom: 8px;
  padding-right: 40px;
  border-top-color: #181A21;
  border-top-style: solid;
  border-top-width: 1px;
  font-size: inherit;
  min-width: 100px;
}

/* detail toggle */

div.detail-toggle {
  display: flex;
  flex-direction: column;
}

div.detail-toggle-summary {
  display: flex;
  flex-direction: row;
  padding-right: 10px;
}

div.detail-toggle-detail {
  display: flex;
  position: relative;
  flex-direction: inherit;
  overflow: hidden;
  opacity: 1;

  padding-top: 5px;
  transition: padding-top 0.1s ease-out, opacity 0.12s ease-out;;
}

div.detail-toggle-detail-hide {
  padding-top: 0px;
  height: 0px;
  opacity: 0;
}

div.detail-toggle-detail-disable {
  padding-top: 0px;
}

div.detail-toggle-img svg {
  position: relative;
  top: -1px;
  width: 18px;
  margin-left: 3px;
  margin-right: 3px;
}

div.detail-toggle-divider {
  display: flex;
  flex-grow: 1.0;
  margin-left: 10px;
  margin-top: 8px;
  border-top-color: #1B1E25;
  border-top-style: solid;
  border-top-width: 1px;
}
