/* HTML element styling */

body {
  font-family: Inter, Helvetica, sans-serif;
  font-feature-settings: "liga" 0, "calt" 0;
  font-size: 14px;
  background-color: #232833;
  color: #DDE0E6;
  margin: 0px;
}

input {
  -webkit-appearance: none; 
  -moz-appearance: none;
  outline: none;
  padding: 5px;
  padding-left: 7px;
  color: inherit;
  font-size: inherit;
  font-family: inherit;
}

textarea {
  -webkit-appearance: none; 
  -moz-appearance: none;
  outline: none;
  padding: 5px;
  padding: 10px;
  line-height: 18px;
  font-weight: 400;
}

pre, pre.span {
  font-size: inherit;
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}

.clickable {
  cursor: pointer;
}

/* High level layout */

div.top-box {
  position: absolute;
  top: 0px;
  width: 100%;
  height: 40px;
  background-color: #232833;
  border-color: rgba(0, 0, 0, 0.5);
  border-style: solid;
  border-width: 0px;
  border-bottom-width: 1px;
}

div.tree-box {
  position: absolute;
  top: 41px;
  left: 0px;
  width: 194px;
  height: calc(100vh - 41px);
  border-style: solid;
  border-width: 0px;
  border-left-color: #232833;
  border-left-width: 5px;
  border-right-color: #000;
  border-right-width: 1px;
}

div.app-box {
  position: relative;
  top: 41px;
  left: 200px;
  width: calc(100% - 200px);
  height: calc(100vh - 191px);
}

div.content-box {
  position: relative;
  top: 0px;
  left: 0px;
  width: calc(100% - 400px);
  height: 100%;
  overflow-y: auto;
}

div.editor-box {
  position: absolute;
  top: 0px;
  right: 0px;
  width: 400px;
  height: 100%;
  border-style: solid;
  border-width: 0px;
  border-left-width: 1px;
  border-color: #000;
}

div.query-box {
  width: calc(100% - 30px);
}

div.terminal-box {
  background-color: #232833;
  border-color: #000;
  border-style: solid;
  border-width: 0px;
  border-top-width: 1px;

  position: absolute;
  width: calc(100% - 200px);
  height: 150px;
  left: 200px;
  bottom: 0px;
}

div.play-button-box {
  position: absolute;
  left: 8px;
  top: 8px;
  width: 30px;
  cursor: pointer;
}

div.share-button-box {
  position: absolute;
  right: 0px;
  top: 6px;
  width: 35px;
  cursor: pointer;
}

div.play-button-box img {
  height: 24px;
}

div.share-button-box img {
  height: 25px;
}

div.entity-box {
  position: relative;
}

div.result-box {
  position: relative;
}

/* UI elements */

div.entity-tree {
  background-color: #13151A;
  width: 100%;
  height: 100%;
  overflow: auto;
}

text.entity-tree-text {
  fill: #DDE0E6;
  cursor: pointer;
}

text.entity-tree-text:hover {
  fill: #fff;
}

text.entity-tree-text-select {
  fill: #fff;
}

image.entity-tree-expand {
  cursor: pointer;
  width: 15px;
  height: 15px;
}

rect.entity-tree-select {
  fill: rgba(0,0,0,0);
  border-radius: 2px;
  cursor: pointer;
}

rect.entity-tree-selected {
  fill: #333A4B;
}

div.inspector {
  display: flex;
  flex-direction: column;
  background-color: #232833;
}

div.inspector-name {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-weight: 500;
  cursor: default;
  margin-bottom: 10px;
}

div.inspector-icon {
  display: flex;
  width: 15px;
}

div.inspector-components {
  display: flex;
  flex-direction: column;
}

div.inspector-components-with-header {
  margin-bottom: 10px;
}

div.inspector-components-content {
  display: flex;
  flex-direction: column;
}

div.inspector-components-nested {
  margin-left: 10px;
}

div.entity-component {
  display: flex;
  flex-direction: column;
  margin-bottom: 5px;
}

div.entity-component:last-child {
  margin-bottom: 0px;
}

div.inspector-component-name {
  display: flex;
}

div.entity-component-name {
  color: #DDE0E6;
  font-weight: 500;
  font-size: 14px;
}

div.entity-component-overridden {
  display: flex;
  color: #4F5565;
  text-decoration: line-through;
}

div.inspector-header {
  font-style: italic;
  color: #47B576;
  font-weight: 500;
  cursor: default;
  white-space: nowrap;
}

div.inspector-header:first-child {
  margin-top: 10px;
}

div.inspector-properties {
  display: flex;
  flex-wrap: wrap;
  margin-left: 20px;
  margin-bottom: 10px;
}

div.inspector-properties-vertical {
  flex-direction: column;
  margin-left: 10px;
}

div.entity-property-value {
  display: flex;
}

div.entity-property {
  display: flex;
  margin-right: 5px;
  margin-bottom: 1px; /* for when row collapses */
}

div.entity-property span.entity-property-key, span.entity-property-value {
  padding: 6px;
  border-radius: 6px;
}

span.entity-property-key {
  border-top-right-radius: 0px !important;
  border-bottom-right-radius: 0px !important;
  background-color: #333A4B;
  cursor: default;
}

span.entity-property-value {
  border-top-left-radius: 0px !important;
  border-bottom-left-radius: 0px !important;
  /* padding-right: 10px !important; */
  background-color: #4F5565;
}

div.entity-property-object {
  display: flex;
}

div.entity-component-expand-nodata {
  width: 20px;
  text-align: center;
  color: #b4b4b4;
}

div.entity-component-expand-nodata span {
  text-align: center;
}

span.inspector-parent {
  font-size: 12px;
  color: #47B576;
  margin-left: 5px;
}

div.inspector-doc {
  display: flex;
  margin-left: 15px;
  margin-bottom: 15px;
}

span.inspector-brief {
  display: flex;
  color: #BDC1CC;
  margin-right: 5px;
}

span.inspector-link a { 
  color: #47B576;
  text-decoration: none;
  cursor: pointer;
}

span.entity-reference {
  cursor: pointer;
}

span.entity-reference:hover {
  color: #fff;
}

div.url-modal {
  position: absolute;
  top: 0px;
  z-index: 99;
  background-color: rgb(0, 0, 0, 0.6);
  width: 100%;
  height: 100%;
}

div.url-modal-hidden {
  display: none;
}

div.url-modal-content {
  position: relative;
  top: calc(20% - 64px);
  margin: 0 auto;
  width: 700px;
  overflow: auto;
  overflow-wrap: anywhere;
  background-color: #232833;
  border-color: #232833;
  border-style: solid;
  border-width: 1px;
  border-radius: 3px;
  padding: 20px;
}

div.url-modal-url-container {
  background-color: #13151A;
  border-color: #000;
  border-width: 1px;
  border-style: solid;
  border-radius: 3px;
  padding: 20px;
  height: 200px;
}

div.url-modal-url {
  overflow-y: auto;
  height: 100%;
}

div.url-modal-content a {
  color: #DDE0E6;
}

div.url-modal h1 {
  font-size: 16px;
  margin: 0px;
  margin-bottom: 15px;
}

div.editor-detail {
  height: 200px;
}

div.editor-textarea {
  position: relative;
  width: 400px;
  height: 100%;
  background-color: #13151A;
  border: none;
  resize: none;
  color: #DDE0E6;
  font-family: Menlo, Monaco, "Courier New", monospace;
  font-size: 13px;
  letter-spacing: 0.0px;
}

div.ldt textarea {
  padding-top: 7px;
  padding-left: 10px;
}

button.editor-button-run {
  position: absolute;
  top: 7px;
  right: 7px;
  height: 35px;
  padding-left: 30px;
  padding-right: 30px;
  background-color: #47B576;
  color: #000;
  border: none;
  cursor: pointer;
}

div.ecs-query {
  position: absolute;
  border-radius: 3px;
  background-color: #13151A;
  left: 30px;
  width: calc(100% - 80px);
  margin-left: 10px;
  margin-top: 5px;
  height: 30px;
  font-family: Menlo, Monaco, "Courier New", monospace;
  font-size: 13px;
  letter-spacing: 0.0px;
}

div.ecs-query pre {
  min-height: 35px;
  padding-top: 7px;
}

#query-editor {
  border-color: rgba(0, 0, 0, 0);
  border-width: 1px;
  border-style: solid;
  border-radius: 3px;
  height: 30px;
}

div.ecs-query textarea:focus {
  border-color: #47B576 !important;
  width: calc(100% - 20px);
}

div.ecs-query textarea.query-error {
  border-color: #B5494B !important;
}

div.error {
  position: relative;
  text-align: center;
  width: 100%;
}

div.error span {
  color: #B5494B;
}

div.terminal {
  position: relative;
  top: 5px;
  height: calc(100% - 5px);
  font-family: Menlo, Monaco, "Courier New", monospace;
  font-size: 12px;
}

div.terminal-content {
  position: relative;
  background-color: #101115;
  width: 100%;
  height: 100%;
  overflow-x: auto;
  overflow-y: auto;
  white-space: nowrap;
}

div.terminal-log {
  height: 22px;
  border-style: solid;
  border-width: 0px;
  border-bottom-width: 1px;
}

span.terminal-msg {
  position: relative;
  top: 5px;
  left: 5px;
}

span.terminal-icon img {
  position: relative;
  height: 20px;
  top: 1px;
}

div.terminal-command {
  border-color: #232833;
}

span.terminal-command {
  color: #4981B5;
}

span.terminal-command {
  position: relative;
  top: -5px;
  left: -5px;
}

div.terminal-ok {
  background-color: #02210A;
  border-color: #0B4C1C;
}

span.terminal-ok {
  color: #47B576;
}

div.terminal-error {
  background-color: #250201;
  border-color: #540C06;
}

span.terminal-error {
  color: #EF8784;
}

div.terminal-info {
  border-color: #232833;
}

div.info {
  position: relative;
  top: -30px;
  margin: auto;
  padding: 15px;
  background-color: #000;
  max-width: 80%;  
}

div.info span {
  color: #DDE0E6;
}

span.prompt {
  color: #47B576 !important;
}

span.ecs-entity {
  color: #47B576; 
}

span.ecs-var {
  color: #4981B5; 
}

span.ecs-set {
  color: #7D67B5; 
}

div.ecs-yes {
  color: #47B576;
}

div.ecs-no {
  color: #B5494B; 
}

div.ecs-yesno {
  position: relative;
  margin: auto;
  padding: 10px;
  margin: 7px;
  font-weight: 600;

  border-style: solid;
  border-color: #000;
  border-width: 1px;
  border-radius: 3px;
  background-color: #13151A;
}

div.ecs-results {
  position: relative;
  margin: auto;
}

div.ecs-filter {
  margin: auto;
  padding: 10px;
  background-color: #000;
  margin: 10px;
}

div.content-container-wrapper {
  background-color: #232833;
  border-color: #101115;
  border-style: solid;
  border-width: 0px;
  border-bottom-width: 1px;
  padding-bottom: 5px;
}

div.content-container {
  background-color: #13151A;
  border-color: #000;
  border-style: solid;
  border-width: 0px;
  border-bottom-width: 1px;
}

div.content-summary {
  font-weight: 600;
  font-size: 13px;
  color: #BDC1CC;
  padding-top: 6px;
  padding-bottom: 6px;
  width: 100%;
}

div.content-detail {
  display: flex;
  flex-direction: column;
  
  width: calc(100% - 30px);
  padding: 15px;

  background-color: #101115;
  overflow-x: auto;
  max-width: 100%;

  border-color: #000;
  border-style: solid;
  border-width: 0px;
  border-top-width: 1px;
}

div.content-detail ecs-value {
  max-width: 150px;
  display: block;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

table {
  border-collapse: collapse;
  width: 100%;
  text-align: left;
  font-variant: inherit;
  font-size: inherit;
}

table th:first-child {
  text-align: left;
}

table.last_align_right th:last-child {
  text-align: right;
}

table.last_align_right td:last-child {
  text-align: right;
}

table th {
  padding: 0px;
  font-weight: 600;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
  color: #47B576;
}

th.content-container-term {
  color: #FFE100;
}

th.content-container-squeeze {
  width: 100%;
  padding: 0px;
  margin: 0px;
  min-width: 0px;
}

td.content-container-squeeze {
  width: 100%;
  padding: 0px;
  margin: 0px;
  min-width: 0px;
}

table td {
  padding-top: 8px;
  padding-bottom: 8px;
  padding-right: 40px;
  border-top-color: #181A21;
  border-top-style: solid;
  border-top-width: 1px;
  font-size: inherit;
  min-width: 100px;
}

/* detail toggle */

div.detail-toggle {
  display: flex;
  flex-direction: column;
}

div.detail-toggle-summary {
  display: flex;
  flex-direction: row;
  align-items: center;
  word-wrap: none;
}

div.detail-toggle-img {
  display: flex;
  flex-direction: inherit;
  width: 20px;
  height: 20px;
  cursor: pointer;
}

div.detail-toggle-img img {
  position: relative;

  width: 20px;
  height: 20px;
  transform: rotate(90deg);
  transition: 0.1s transform ease-out;
}

div.detail-toggle-img svg {
  position: relative;
  top: -1px;
  left: -2px;
  width: 20px;
  height: 20px;
}

div.detail-toggle-img-collapse img {
  transform: rotate(0deg);
}

div.detail-toggle-show {
  display: inherit;
  flex-direction: inherit;

  position: relative;
  margin-top: 5px;
  opacity: 1.0;
  transition: margin-top 0.1s ease-out, opacity 0.1s ease-out;
}

div.detail-toggle-hide {
  display: inherit;
  flex-direction: inherit;

  margin-top: 0px;
  height: 0px;
  opacity: 0;
  transition: margin-top 0.1s ease-out, opacity 0.1s ease-out;
}

div.detail-toggle-divider {
  width: calc(100% - 20px);
  margin-left: 20px;
  border-top-color: #1B1E25;
  border-top-style: solid;
  border-top-width: 1px;
}
