<!DOCTYPE html>
<html>
  <head>
    <title>Flecs Explorer</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="css/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap" rel="stylesheet">
    <link rel="icon" href="img/flecs_logo.png" />
  </head>
  <body spellcheck="false">
    <div id="app">
      <menu-bar
        :items="['entities', 'queries', 'stats', 'pipeline', 'commands', 'info', 'docs']">
        <template v-slot:docs>
          <menu-button 
            name="docs" 
            img="book"
            href="https://flecs.dev/flecs/md_docs_2Docs.html">
          </menu-button>
        </template>
        <template v-slot:entities>
          <menu-button 
            name="entities" 
            img="list-tree"
            v-model:page="app_params.page">
          </menu-button>
        </template>
        <template v-slot:queries>
          <menu-button 
            name="queries" 
            img="search"
            v-model:page="app_params.page">
          </menu-button>
        </template>
        <template v-slot:stats>
          <menu-button 
            name="stats" 
            img="graph-line"
            v-model:page="app_params.page">
          </menu-button>
        </template>
        <template v-slot:pipeline>
          <menu-button 
            name="pipeline" 
            img="server"
            v-model:page="app_params.page">
          </menu-button>
        </template>
        <template v-slot:commands>
          <menu-button 
            name="commands" 
            img="megaphone"
            v-model:page="app_params.page">
          </menu-button>
        </template>
        <template v-slot:info>
          <menu-button 
            name="info" 
            img="info"
            v-model:page="app_params.page">
          </menu-button>
        </template>
      </menu-bar>

      <template v-if="app_params.page == 'entities'">
        <page-entities 
          :conn="conn"
          v-model:app_params="app_params"
          :app_state="app_state">
        </page-entities>
      </template>

      <template v-if="app_params.page == 'queries'">
        <page-queries 
          :conn="conn"
          v-model:app_params="app_params"
          :app_state="app_state">
        </page-queries>
      </template>

      <template v-if="app_params.page == 'stats'">
        <page-stats 
          :conn="conn"
          v-model:app_params="app_params"
          :app_state="app_state">
        </page-stats>
      </template>

      <template v-if="app_params.page == 'pipeline'">
        <page-pipeline 
          :conn="conn"
          v-model:app_params="app_params">
        </page-pipeline>
      </template>

      <template v-if="app_params.page == 'commands'">
        <page-commands 
          :conn="conn"
          v-model:app_params="app_params"
          :app_state="app_state">
        </page-commands>
      </template>

      <template v-if="app_params.page == 'info'">
        <page-info 
          :conn="conn"
          v-model:app_params="app_params"  
          :app_state="app_state">
        </page-info>
      </template>

      <title-bar
        :conn="conn"
        v-model:app_params="app_params"
        :app_state="app_state">
      </title-bar>

      <info-bar
        v-model:app_params="app_params"
        :app_state="app_state">
      </info-bar>

      <canvas-container
        :app_params="app_params"
        :app_state="app_state">
      </canvas-container>
    </div>

    <!-- Vue3 -->
    <script src="https://unpkg.com/vue@3/dist/vue.global.js">
      Vue.config.devtools = true;
    </script>
    <!-- <script src="deps/vue.global.prod.js"></script> -->

    <!-- Vue SFC support without webpack -->
    <script charset="utf-8" src="deps/vue3-sfc-loader.js"></script>

    <!-- Chart.js for data visualization -->
    <script src="https://cdn.jsdelivr.net/npm/chart.js@4.4.0/dist/chart.umd.js"></script>

    <!-- Code editor -->
    <script src="deps/ace/ace.js" type="text/javascript" charset="utf-8"></script>
    <script src="deps/ace/theme-github_dark.js" type="text/javascript" charset="utf-8"></script>
    <script src="js/ace-flecs-script.js"></script>
    <script src="js/ace-flecs-query.js"></script>
    <script src="js/ace-flecs-script-theme.js"></script>

    <!-- Flecs client -->
    <script src="flecs.js" type="text/javascript" charset="utf-8"></script>

    <!-- Application source -->
    <script src="js/common.js"></script>
    <script src="js/module_loader.js"></script>
    <script src="js/app.js"></script>

    <script>
      window.addEventListener("keydown", function(e) {
        if ((e.ctrlKey || e.metaKey) && e.key === "s") {
          e.preventDefault();
        }
      });
    </script>    
  </body>
</html>
