/* HTML element styling */

body {
  font-family: Menlo, Monaco, "Courier New", monospace;
  font-feature-settings: "liga" 0, "calt" 0;
  font-size: 13px;
  background-color: #232833;
  color: #DDE0E6;
  margin: 0px;
}

input {
  -webkit-appearance: none; 
  -moz-appearance: none;
  outline: none;
  padding: 5px;
  padding-left: 7px;
  color: inherit;
  font-size: inherit;
  font-family: inherit;
}

textarea {
  -webkit-appearance: none; 
  -moz-appearance: none;
  border: solid 2px #aaa;
  outline: none;
  padding: 5px;
  padding: 10px;
  line-height: 18px;
  font-weight: 400;
}

pre, pre.span {
  font-family: inherit;
  font-size: inherit;
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}

/* High level layout */

div.app-box {
  position: relative;
  max-width: 100%;
  width: calc(100% - 475px);
}

div.top-box {
  position: absolute;
  top: 0px;
  width: 100%;
  height: 40px;
  background-color: #232833;
  border-color: rgba(0, 0, 0, 0.5);
  border-style: solid;
  border-width: 0px;
  border-bottom-width: 1px;
}

div.tree-box {
  position: absolute;
  top: 41px;
  left: 0px;
  width: 200px;
  height: calc(100vh - 45px);
  border-style: solid;
  border-width: 0px;
  border-right-width: 1px;
  border-color: #000;
}

div.editor-box {
  position: absolute;
  top: 41px;
  right: 0px;
  height: calc(100vh - 45px);
  border-style: solid;
  border-width: 0px;
  border-left-width: 1px;
  border-color: #000;
}

div.content-box {
  position: absolute;
  top: 40px;
  left: 200px;
  width: calc(100% - 200px);
  height: calc(100vh - 40px);
  overflow-y: auto;
}

div.query-box {
  width: calc(100% - 30px);
}

div.share-button-box {
  position: absolute;
  right: 0px;
  top: 6px;
  width: 35px;
  cursor: pointer;
}

div.share-button-box img {
  height: 25px;
}

div.entity-box {
  position: relative;
}

div.result-box {
  position: relative;
}

/* UI elements */

div.entity-tree {
  background-color: #13151A;
  width: 100%;
  height: 100%;
  overflow: auto;
}

text.entity-tree-text {
  fill: #DDE0E6;
  cursor: pointer;
}

image.entity-tree-expand {
  cursor: pointer;
  width: 15px;
  height: 15px;
}

rect.entity-tree-select {
  fill: rgba(0,0,0,0);
  rx: 5px;
  cursor: pointer;
}

div.url-modal {
  position: relative;
  z-index: 99;
  background-color: rgb(0, 0, 0, 0.6);
  width: 100%;
  height: 100%;
}

div.url-modal-hidden {
  display: none;
}

div.url-modal-content {
  position: relative;
  top: calc(20% - 64px);
  margin: 0 auto;
  width: 700px;
  overflow: auto;
  overflow-wrap: anywhere;
  background-color: #232833;
  border-color: #232833;
  border-style: solid;
  border-width: 1px;
  border-radius: 5px;
  padding: 20px;
}

div.url-modal-url-container {
  background-color: #13151A;
  border-color: #000;
  border-width: 1px;
  border-style: solid;
  border-radius: 5px;
  padding: 20px;
  height: 200px;
}

div.url-modal-url {
  overflow-y: auto;
  height: 100%;
}

div.url-modal-content a {
  color: #DDE0E6;
}

div.url-modal h1 {
  font-size: 16px;
  margin: 0px;
  margin-bottom: 15px;
}

div.editor-textarea {
  position: relative;
  width: 475px;
  height: 100%;
  background-color: #13151A;
  border: none;
  resize: none;
  color: #DDE0E6;
  font-family: inherit;
  font-size: inherit;
}

div.ldt textarea {
  padding-top: 7px;
  padding-left: 10px;
}

button.editor-button-run {
  position: absolute;
  top: 7px;
  right: 7px;
  height: 35px;
  padding-left: 30px;
  padding-right: 30px;
  background-color: #47B576;
  color: #000;
  border: none;
  cursor: pointer;
}

div.ecs-query {
  border-radius: 0px;
  background-color: #13151A;
  width: calc(100% - 20px);
  margin-left: 10px;
  margin-top: 5px;
  height: 30px;
}

div.ecs-query pre {
  min-height: 35px;
  padding-top: 7px;
}

#query-editor {
  border-color: rgba(0, 0, 0, 0);
  border-width: 1px;
  border-style: solid;
  border-radius: 5px;
  height: 30px;
}

div.ecs-query textarea:focus {
  border-color: #47B576 !important;
  width: calc(100% - 20px);
}

div.ecs-query textarea.query-error {
  border-color: #B5494B !important;
}

div.error {
  position: relative;
  text-align: center;
  width: 100%;
}

div.error span {
  color: #B5494B;
}

div.info {
  position: relative;
  top: -30px;
  margin: auto;
  padding: 15px;
  background-color: #000;
  max-width: 80%;  
}

div.info span {
  color: #DDE0E6;
}

span.prompt {
  color: #47B576 !important;
}

span.ecs-entity {
  color: #47B576; 
}

span.ecs-var {
  color: #4981B5; 
}

span.ecs-set {
  color: #7D67B5; 
}

div.ecs-yes {
  color: #47B576;
}

div.ecs-no {
  color: #B5494B; 
}

div.ecs-yesno {
  position: relative;
  margin: auto;
  padding: 10px;
  background-color: #000;
  margin: 10px;
}

div.ecs-results {
  position: relative;
  margin: auto;
}

div.ecs-filter {
  margin: auto;
  padding: 10px;
  background-color: #000;
  margin: 10px;
}

div.ecs-table {
  position: relative;
  margin: auto;
  padding: 10px;

  border-style: solid;
  border-color: #000;
  border-width: 1px;
  border-radius: 5px;

  background-color: #13151A;
  overflow-x: auto;
  max-width: 100%;
  margin: 10px;
}

div.ecs-table ecs-value {
  max-width: 150px;
  display: block;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

table {
  border-collapse: collapse;
  width: 100%;
  text-align: left;
  font-size: inherit;
}

table th:first-child {
  text-align: left;
}

table.last_align_right th:last-child {
  text-align: right;
}

table.last_align_right td:last-child {
  text-align: right;
}

table th {
  padding: 10px;
  padding-left: 0px;
  padding-right: 0px;
  font-weight: 600;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
  color: #47B576;
}

th.ecs-table-term {
  color: #FFE100;
}

th.ecs-table-squeeze {
  width: 100%;
  padding: 0px;
  margin: 0px;
  min-width: 0px;
}

td.ecs-table-squeeze {
  width: 100%;
  padding: 0px;
  margin: 0px;
  min-width: 0px;
}

table tr {
  height: 40px;
}

table td {
  padding-top: 4px;
  padding-bottom: 4px;
  padding-right: 40px;
  border-top-color: #212834;
  border-top-style: solid;
  border-top-width: 1px;
  font-size: inherit;
  min-width: 100px;
}