body {
  background-color: #dde0e6;
  font-family: Arial, Helvetica, sans-serif;
  margin: 0px;
}

h1 {
  margin-top: 15px;
}

pre {
  background-color: #ffffff;
  border-style: solid;
  border-width: 1px;
  border-color: #000000;
  padding: 5px;
}

pre.result {
  height: calc(100vh - 250px);
  overflow: auto;
}

pre.code {
  margin-top: 10px;
}

input.request {
  width: calc(100% - 205px);
}

select {
  font-size: 16px;
}

button {
  font-size: 16px;
}

input {
  font-size: 16px;
  margin-bottom: 5px;
  margin-right: 0px;
}

label {
  margin-right: 10px;
}

div.header {
  background-color: #1a1d23;
  color: #dde0e6;
  border-style: solid;
  border-width: 1px;
  border-color: #000000;
  padding: 5px;
  margin-bottom: 10px;
}

div.app {
  margin: 10px;
}

div.header a {
  color: #dde0e6;
  text-decoration: none;
  margin-left: 10px;
}

div.header a:hover {
  color: #A2D8B4;
}

img.logo {
  height: 22px;
  margin-right: 5px;
}
