
:root {
  --steel-200: #e7e9ee;
  --steel-300: #dde0e6;
  --steel-400: #aaaeb5;
  --steel-500: #7a7e86;
  --steel-600: #4d515a;
  --steel-650: #383c46;
  --steel-675: #2e323c;
  --steel-700: #242832;
  --steel-750: #1D2028;
  --steel-800: #1a1d23;
  --steel-850: #16171c;
  --steel-900: #101115;
  --steel-950: #0a0c0e;

  --grey-200: rgb(237, 237, 237);

  --green: #42b983;
  --blue: rgb(103, 154, 209);
  --purple: rgb(188, 137, 189);
  --yellow: #b9a542;
  --red: #B5494B;
  --bright-green: #A2D8B4;
  --bright-blue: hsl(206, 100%, 40%);
  --bright-red: #EF8784;

  --bg-color-alt: rgb(10,12,14);
  --bg-color:     hsl(214, 10%, 11%);
  --bg-textbox:   rgb(25, 28, 31, 0.5);
  --bg-error:     var(--red);
  --bg-ok:        var(--green);
  --border:       rgb(57, 57, 62);
  --panel-color:  rgb(24, 29, 34);
  --text-color:   rgb(175, 175, 175);
  --highlight-bg: var(--blue);
  --highlight-text: white;

  --primary-color: var(--green);
  --secondary-color: var(--blue);
  --tertiary-color: var(--yellow);

  --primary-text: #d2dbde;
  --secondary-text: #859399;

  --tab-separator-color: rgba(255,255,255,0.07);

  --border-radius-large: 8px;
  --border-radius-small: 4px;
  --border-radius-medium: 6px;

  --animation-duration: .12s;
}
