@import "colors.css";

body {
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  align-items: flex-start;
  justify-content: space-between;
  padding: 0.0rem;
  margin: 0.0rem;
  background: var(--bg-color);
  font-family: Inter, Helvetica, sans-serif;
  color: black;
}

#app {
  width: 100%;
  height: 100vh;
  display: grid;
  grid-template-columns: 0.25rem calc(600px - 2rem) calc(100% - 600px) 0.25rem;
  grid-template-rows: 0.1rem 2.0rem 1.0fr 0.5rem;
  gap: 0.5rem;
}

@media screen and (max-width: 1280px) {
  #app {
    grid-template-columns: 0.25rem calc(400px - 2rem) calc(100% - 400px) 0.25rem;
  }
}

@media screen and (max-width: 800px) {
  #app {
    grid-template-columns: 0.25rem calc(100% - 1.5rem) 0.25rem;
    grid-template-rows: 0.1rem 2.0rem calc(40vh - 2.0rem) calc(60vh - 2.5rem) 0.5rem;
  }
}

pre {
  font: 14px/normal 'Monaco', 'Menlo', 'Ubuntu Mono', 'Consolas', 'Source Code Pro', 'source-code-pro', monospace;
  background-color: var(--bg-content);
  border-radius: var(--border-radius-medium);
  padding: 1rem;
  margin-bottom: 2rem;
  overflow-x: auto;
}

input {
  border: 0;
  outline: 0;
  color: var(--primary-text);
  caret-color: var(--secondary-text);
  font-size: inherit;
  font-family: inherit;
}

input:focus {
  outline: none !important;
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}

span.code-function {
  color: var(--blue);
}

span.code-operator {
  color: var(--secondary-text);
}

span.code-string {
  color: var(--yellow);
}

span.code-member {
  color: var(--primary-text);
}

span.code-variable {
  color: var(--green);
}

span.code-qualifier {
  color: var(--blue);
}

span.code-keyword {
  color: var(--purple);
}

span.code-comment {
  color: var(--secondary-text);
}

span.code-type {
  color: var(--green);
}

span.code-identifier {
  color: var(--primary-text);
}

span.code-number {
  color: var(--yellow);
}

.flecs-logo {
  background-image: url('../img/flecs_logo.png');
  background-size: contain;
  background-position: center center;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
}
